<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center col-10">
          <h1>user info</h1><br>

          <%= form_with model: @user, url: edit_book_path(@user) do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name%>

            <%= f.label :image %>
            <%= f.file_field :image %>

            <%= f.label :introduction %>
            <%= f.text_field :introduction %>

            <%= f.submit "反映する" %>
          <% end %>
        </div>
    </div>
</div>

