<h1>Books</h1>
<% if objects.present? %>
  <% objects.each do |obj| %>
    <table>
      <thead>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
      </thead>
      <tbody>
        <td>
          <% if obj.image.attached? %>
            <%= image_tag obj.image, size: "200x200" %>
          <% else %>
            <%= image_tag 'no_image', size: "200x200" %>
          <% end %>
        </td>
        <td>
          <%= link_to book_path(obj) do %>
            <%= obj.title %>
          <% end %>
        </td>
        <td>
          <%= obj.body %>
        </td>
      </tbody>
    </table>
  <% end %>
<% end %>